version: 2.1

orbs:
  gcp-gcr: circleci/gcp-gcr@<<pipeline.parameters.dev-orb-version>>
  orb-tools: circleci/orb-tools@9.1

# Integration tests
integration_tests: &integration_tests
  [
    integration-tests-1,
    build-and-push-job
  ]
orb_prep_jobs: &orb_prep_jobs
  [
    orb-tools/lint,
    orb-tools/shellcheck,
    orb-tools/pack,
  ]
# Pipeline parameters
parameters:
  # These pipeline parameters are required by the "trigger-integration-tests-workflow"
  # job, by default.
  run-integration-tests:
    type: boolean
    default: false
  dev-orb-version:
    type: string
    default: "dev:alpha"

jobs:
  integration-tests-1:
    executor: gcp-gcr/default
    steps:
      # test orb commands
      - checkout
      - gcp-gcr/gcr-auth

      - gcp-gcr/build-image:
          registry-url: us.gcr.io
          image: sample-image
          tag: ${CIRCLE_SHA1:0:7}.$CIRCLE_BUILD_NUMBER

      - gcp-gcr/push-image:
          registry-url: us.gcr.io
          image: sample-image
          tag: ${CIRCLE_SHA1:0:7}.$CIRCLE_BUILD_NUMBER

      - gcp-gcr/tag-image:
          registry-url: us.gcr.io
          image: sample-image
          source-tag: ${CIRCLE_SHA1:0:7}.$CIRCLE_BUILD_NUMBER
          target-tag: tagged.$CIRCLE_BUILD_NUMBER

workflows:
  # This `lint-pack_validate_publish-dev` workflow will run on any commit.
  lint_pack-validate_publish-dev:
    unless: << pipeline.parameters.run-integration-tests >>
    jobs:
      - orb-tools/lint
      - orb-tools/shellcheck:
          exclude: "SC1073, SC1009"
      - orb-tools/pack
      - approve_for_testing:
          type: approval
          requires: *orb_prep_jobs
      - orb-tools/publish-dev:
          orb-name: circleci/gcp-gcr
          context: orb-publishing
          requires:
            - approve_for_testing
      # trigger an integration workflow to test the
      # dev:${CIRCLE_SHA1:0:7} version of your orb
      - orb-tools/trigger-integration-tests-workflow:
          name: trigger-integration-dev
          context: orb-publishing
          requires:
            - orb-tools/publish-dev

  # This `integration-tests_prod-release` workflow will only run
  # when the run-integration-tests pipeline parameter is set to true.
  # It is meant to be triggered by the "trigger-integration-tests-workflow"
  # job, and run tests on <your orb>@dev:${CIRCLE_SHA1:0:7}.
  integration-tests_prod-release:
    when: << pipeline.parameters.run-integration-tests >>
    jobs:

      - integration-tests-1
      - gcp-gcr/build-and-push-image:
          name: build-and-push-job
          registry-url: us.gcr.io
          image: sample-image
          tag: ${CIRCLE_SHA1:0:7}.$CIRCLE_BUILD_NUMBER
          digest-path: /tmp/digest.txt
          post-steps:
            - run:
                command: |
                  echo "Digest is: $(</tmp/digest.txt)"

      # publish a semver version of the orb. relies on
      # the commit subject containing the text "[semver:patch|minor|major|skip]"
      # as that will determine whether a patch, minor or major
      # version will be published or if publishing should
      # be skipped.
      # e.g. [semver:patch] will cause a patch version to be published.
      - orb-tools/dev-promote-prod-from-commit-subject:
          orb-name: circleci/gcp-gcr
          context: orb-publishing
          add-pr-comment: true
          bot-token-variable: GHI_TOKEN
          bot-user: cpe-bot
          fail-if-semver-not-indicated: true
          publish-version-tag: true
          ssh-fingerprints: be:d5:b0:4f:41:21:6a:0b:77:19:c4:35:22:a5:1b:11
          requires: *integration_tests
          filters:
            branches:
              only: master
